<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParkMate">

        <!-- Launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth activities -->
        <activity android:name=".Auth.Auth_LoginRegister"
            android:exported="true" />

        <activity android:name=".Auth.Auth_Register"
            android:exported="true" />

        <activity android:name=".Auth.Auth_Login"
            android:exported="true" />


        <!-- User activities -->
        <activity android:name=".User.User_Home"
            android:exported="true" />

        <activity android:name=".User.User_VehicleActivity"
            android:exported="true" />

        <activity android:name=".User.User_AddNewVehicle"
            android:exported="true" />

        <activity android:name=".User.User_AddNew_Vehicle"
            android:exported="true" />

        <activity android:name=".User.User_Show_Vehicle"
            android:exported="true" />

        <activity android:name=".User.AdvanceBooking.User_AdvanceBooking"
            android:exported="true" />

        <activity android:name=".User.RealtimeBooking.User_SelectSlot_RealtimeBooking"
            android:exported="true" />

        <activity android:name=".User.RealtimeBooking.User_RealtimeBooking_Summary"
            android:exported="true" />

        <activity android:name=".User.AdvanceBooking.User_AdvanceBooking_Summary"
            android:exported="true" />

        <activity android:name=".User.AdvanceBooking.User_Payment_AdvanceBooking"
            android:exported="true" />

        <activity android:name=".User.AdvanceBooking.User_CompletePayment_AdvanceBooking"
            android:exported="true" />

        <activity android:name=".User.RealtimeBooking.User_CompletePayment_RealtimeBooking"
            android:exported="true" />

        <activity android:name=".User.RealtimeBooking.User_Payment_RealtimeBooking"
            android:exported="true" />


        <!-- Admin activities -->
        <activity android:name=".Admin.Admin_MainPage"
            android:exported="true" />

        <activity android:name=".Admin.Admin_Manage_ParkingSlot"
            android:exported="true" />

        <activity android:name=".Admin.Admin_Add_NewSlot"
            android:exported="true" />

        <activity android:name=".Admin.Admin_ManageUser"
            android:exported="true" />

        <activity android:name=".Admin.Admin_View_Report"
            android:exported="true" />

        <activity android:name=".Admin.Admin_Manage_Bookings"
            android:exported="true" />

        <activity android:name=".Admin.Admin_ScanQr"
            android:exported="true" />

        <activity android:name=".Admin.Admin_Edit_User"
            android:exported="true" />



    </application>

</manifest>
